server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eshop
    username: root
    password: root
  application:
    name: eshop
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true


  data:
    redis:
      host: localhost
      port: 6379

app:
  jwt-secret: 8d73e794b3bc64304d161293a70ba7eec4c4acd3a71a3d9b9fd2f72c66b4078e
  jwt-expiration-milliseconds: 604800000
