server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eshop
    username: root
    password: root
  application:
    name: eshop
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true